# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/Target Support Files/RxSwift/RxSwift.release.xcconfig
Example/Pods/Target Support Files/SnapKit/SnapKit-Info.plist
Example/Pods/Target Support Files/SnapKit/SnapKit-dummy.m
Example/Pods/Target Support Files/SnapKit/SnapKit-prefix.pch
Example/Pods/Target Support Files/SnapKit/SnapKit-umbrella.h
Example/Pods/Target Support Files/SnapKit/SnapKit.debug.xcconfig
Example/Pods/Target Support Files/SnapKit/SnapKit.modulemap
Example/Pods/Target Support Files/SnapKit/SnapKit.release.xcconfig
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-Info.plist
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-acknowledgements.plist
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-dummy.m
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-frameworks.sh
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example-umbrella.h
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example.debug.xcconfig
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example.modulemap
Example/Pods/Target Support Files/Pods-JKPacket_Example/Pods-JKPacket_Example.release.xcconfig
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests-Info.plist
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests-dummy.m
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests.modulemap
Example/Pods/Target Support Files/Pods-JKPacket_Tests/Pods-JKPacket_Tests.release.xcconfig
Example/Pods/Target Support Files/RxSwift/RxSwift-Info.plist
Example/Pods/Target Support Files/RxSwift/RxSwift-dummy.m
Example/Pods/Target Support Files/RxSwift/RxSwift-prefix.pch
Example/Pods/Target Support Files/RxSwift/RxSwift-umbrella.h
Example/Pods/Target Support Files/RxSwift/RxSwift.debug.xcconfig
Example/Pods/Target Support Files/RxSwift/RxSwift.modulemap
Example/Pods/SnapKit/Source/ConstraintMakerEditable.swift
Example/Pods/SnapKit/Source/ConstraintMakerExtendable.swift
Example/Pods/SnapKit/Source/ConstraintMakerFinalizable.swift
Example/Pods/SnapKit/Source/ConstraintMakerPriortizable.swift
Example/Pods/SnapKit/Source/ConstraintMakerRelatable.swift
Example/Pods/SnapKit/Source/ConstraintMultiplierTarget.swift
Example/Pods/SnapKit/Source/ConstraintOffsetTarget.swift
Example/Pods/SnapKit/Source/ConstraintPriority.swift
Example/Pods/SnapKit/Source/ConstraintPriorityTarget.swift
Example/Pods/SnapKit/Source/ConstraintRelatableTarget.swift
Example/Pods/SnapKit/Source/ConstraintRelation.swift
Example/Pods/SnapKit/Source/ConstraintView+Extensions.swift
Example/Pods/SnapKit/Source/ConstraintView.swift
Example/Pods/SnapKit/Source/ConstraintViewDSL.swift
Example/Pods/SnapKit/Source/Debugging.swift
Example/Pods/SnapKit/Source/LayoutConstraint.swift
Example/Pods/SnapKit/Source/LayoutConstraintItem.swift
Example/Pods/SnapKit/Source/Typealiases.swift
Example/Pods/SnapKit/Source/UILayoutSupport+Extensions.swift
Example/Pods/Target Support Files/JKPacket/JKPacket-Info.plist
Example/Pods/Target Support Files/JKPacket/JKPacket-dummy.m
Example/Pods/Target Support Files/JKPacket/JKPacket-prefix.pch
Example/Pods/Target Support Files/JKPacket/JKPacket-umbrella.h
Example/Pods/Target Support Files/JKPacket/JKPacket.debug.xcconfig
Example/Pods/Target Support Files/JKPacket/JKPacket.modulemap
Example/Pods/Target Support Files/JKPacket/JKPacket.release.xcconfig
Example/Pods/SnapKit/LICENSE
Example/Pods/SnapKit/README.md
Example/Pods/SnapKit/Source/Constraint.swift
Example/Pods/SnapKit/Source/ConstraintAttributes.swift
Example/Pods/SnapKit/Source/ConstraintConfig.swift
Example/Pods/SnapKit/Source/ConstraintConstantTarget.swift
Example/Pods/SnapKit/Source/ConstraintDSL.swift
Example/Pods/SnapKit/Source/ConstraintDescription.swift
Example/Pods/SnapKit/Source/ConstraintDirectionalInsetTarget.swift
Example/Pods/SnapKit/Source/ConstraintDirectionalInsets.swift
Example/Pods/SnapKit/Source/ConstraintInsetTarget.swift
Example/Pods/SnapKit/Source/ConstraintInsets.swift
Example/Pods/SnapKit/Source/ConstraintItem.swift
Example/Pods/SnapKit/Source/ConstraintLayoutGuide+Extensions.swift
Example/Pods/SnapKit/Source/ConstraintLayoutGuide.swift
Example/Pods/SnapKit/Source/ConstraintLayoutGuideDSL.swift
Example/Pods/SnapKit/Source/ConstraintLayoutSupport.swift
Example/Pods/SnapKit/Source/ConstraintLayoutSupportDSL.swift
Example/Pods/SnapKit/Source/ConstraintMaker.swift
Example/Pods/RxSwift/RxSwift/Reactive.swift
Example/Pods/RxSwift/RxSwift/Rx.swift
Example/Pods/RxSwift/RxSwift/RxMutableBox.swift
Example/Pods/RxSwift/RxSwift/SchedulerType.swift
Example/Pods/RxSwift/RxSwift/Schedulers/ConcurrentDispatchQueueScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/ConcurrentMainScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/CurrentThreadScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/HistoricalScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/HistoricalSchedulerTimeConverter.swift
Example/Pods/RxSwift/RxSwift/Schedulers/Internal/DispatchQueueConfiguration.swift
Example/Pods/RxSwift/RxSwift/Schedulers/Internal/InvocableScheduledItem.swift
Example/Pods/RxSwift/RxSwift/Schedulers/Internal/InvocableType.swift
Example/Pods/RxSwift/RxSwift/Schedulers/Internal/ScheduledItem.swift
Example/Pods/RxSwift/RxSwift/Schedulers/Internal/ScheduledItemType.swift
Example/Pods/RxSwift/RxSwift/Schedulers/MainScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/OperationQueueScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/RecursiveScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/SchedulerServices+Emulation.swift
Example/Pods/RxSwift/RxSwift/Schedulers/SerialDispatchQueueScheduler.swift
Example/Pods/RxSwift/RxSwift/Schedulers/VirtualTimeConverterType.swift
Example/Pods/RxSwift/RxSwift/Schedulers/VirtualTimeScheduler.swift
Example/Pods/RxSwift/RxSwift/Subjects/AsyncSubject.swift
Example/Pods/RxSwift/RxSwift/Subjects/BehaviorSubject.swift
Example/Pods/RxSwift/RxSwift/Subjects/PublishSubject.swift
Example/Pods/RxSwift/RxSwift/Subjects/ReplaySubject.swift
Example/Pods/RxSwift/RxSwift/Subjects/SubjectType.swift
Example/Pods/RxSwift/RxSwift/SwiftSupport/SwiftSupport.swift
Example/Pods/RxSwift/RxSwift/Traits/Completable+AndThen.swift
Example/Pods/RxSwift/RxSwift/Traits/Completable.swift
Example/Pods/RxSwift/RxSwift/Traits/Maybe.swift
Example/Pods/RxSwift/RxSwift/Traits/ObservableType+PrimitiveSequence.swift
Example/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence+Zip+arity.swift
Example/Pods/RxSwift/RxSwift/Traits/PrimitiveSequence.swift
Example/Pods/RxSwift/RxSwift/Traits/Single.swift
Example/Pods/RxSwift/RxSwift/Errors.swift
Example/Pods/RxSwift/RxSwift/Event.swift
Example/Pods/RxSwift/RxSwift/Extensions/Bag+Rx.swift
Example/Pods/RxSwift/RxSwift/Extensions/String+Rx.swift
Example/Pods/RxSwift/RxSwift/GroupedObservable.swift
Example/Pods/RxSwift/RxSwift/ImmediateSchedulerType.swift
Example/Pods/RxSwift/RxSwift/Observable.swift
Example/Pods/RxSwift/RxSwift/ObservableConvertibleType.swift
Example/Pods/RxSwift/RxSwift/ObservableType+Extensions.swift
Example/Pods/RxSwift/RxSwift/ObservableType.swift
Example/Pods/RxSwift/RxSwift/Observables/AddRef.swift
Example/Pods/RxSwift/RxSwift/Observables/Amb.swift
Example/Pods/RxSwift/RxSwift/Observables/AsMaybe.swift
Example/Pods/RxSwift/RxSwift/Observables/AsSingle.swift
Example/Pods/RxSwift/RxSwift/Observables/Buffer.swift
Example/Pods/RxSwift/RxSwift/Observables/Catch.swift
Example/Pods/RxSwift/RxSwift/Observables/CombineLatest+Collection.swift
Example/Pods/RxSwift/RxSwift/Observables/CombineLatest+arity.swift
Example/Pods/RxSwift/RxSwift/Observables/CombineLatest.swift
Example/Pods/RxSwift/RxSwift/Observables/CompactMap.swift
Example/Pods/RxSwift/RxSwift/Observables/Concat.swift
Example/Pods/RxSwift/RxSwift/Observables/Create.swift
Example/Pods/RxSwift/RxSwift/Observables/Debounce.swift
Example/Pods/RxSwift/RxSwift/Observables/Debug.swift
Example/Pods/RxSwift/RxSwift/Observables/DefaultIfEmpty.swift
Example/Pods/RxSwift/RxSwift/Observables/Deferred.swift
Example/Pods/RxSwift/RxSwift/Observables/Delay.swift
Example/Pods/RxSwift/RxSwift/Observables/DelaySubscription.swift
Example/Pods/RxSwift/RxSwift/Observables/Dematerialize.swift
Example/Pods/RxSwift/RxSwift/Observables/DistinctUntilChanged.swift
Example/Pods/RxSwift/RxSwift/Observables/Do.swift
Example/Pods/RxSwift/RxSwift/Observables/ElementAt.swift
Example/Pods/RxSwift/RxSwift/Observables/Empty.swift
Example/Pods/RxSwift/RxSwift/Observables/Enumerated.swift
Example/Pods/RxSwift/RxSwift/Observables/Error.swift
Example/Pods/RxSwift/RxSwift/Observables/Filter.swift
Example/Pods/RxSwift/RxSwift/Observables/First.swift
Example/Pods/RxSwift/RxSwift/Observables/Generate.swift
Example/Pods/RxSwift/RxSwift/Observables/GroupBy.swift
Example/Pods/RxSwift/RxSwift/Observables/Just.swift
Example/Pods/RxSwift/RxSwift/Observables/Map.swift
Example/Pods/RxSwift/RxSwift/Observables/Materialize.swift
Example/Pods/RxSwift/RxSwift/Observables/Merge.swift
Example/Pods/RxSwift/RxSwift/Observables/Multicast.swift
Example/Pods/RxSwift/RxSwift/Observables/Never.swift
Example/Pods/RxSwift/RxSwift/Observables/ObserveOn.swift
Example/Pods/RxSwift/RxSwift/Observables/Optional.swift
Example/Pods/RxSwift/RxSwift/Observables/Producer.swift
Example/Pods/RxSwift/RxSwift/Observables/Range.swift
Example/Pods/RxSwift/RxSwift/Observables/Reduce.swift
Example/Pods/RxSwift/RxSwift/Observables/Repeat.swift
Example/Pods/RxSwift/RxSwift/Observables/RetryWhen.swift
Example/Pods/RxSwift/RxSwift/Observables/Sample.swift
Example/Pods/RxSwift/RxSwift/Observables/Scan.swift
Example/Pods/RxSwift/RxSwift/Observables/Sequence.swift
Example/Pods/RxSwift/RxSwift/Observables/ShareReplayScope.swift
Example/Pods/RxSwift/RxSwift/Observables/SingleAsync.swift
Example/Pods/RxSwift/RxSwift/Observables/Sink.swift
Example/Pods/RxSwift/RxSwift/Observables/Skip.swift
Example/Pods/RxSwift/RxSwift/Observables/SkipUntil.swift
Example/Pods/RxSwift/RxSwift/Observables/SkipWhile.swift
Example/Pods/RxSwift/RxSwift/Observables/StartWith.swift
Example/Pods/RxSwift/RxSwift/Observables/SubscribeOn.swift
Example/Pods/RxSwift/RxSwift/Observables/Switch.swift
Example/Pods/RxSwift/RxSwift/Observables/SwitchIfEmpty.swift
Example/Pods/RxSwift/RxSwift/Observables/Take.swift
Example/Pods/RxSwift/RxSwift/Observables/TakeLast.swift
Example/Pods/RxSwift/RxSwift/Observables/TakeUntil.swift
Example/Pods/RxSwift/RxSwift/Observables/TakeWhile.swift
Example/Pods/RxSwift/RxSwift/Observables/Throttle.swift
Example/Pods/RxSwift/RxSwift/Observables/Timeout.swift
Example/Pods/RxSwift/RxSwift/Observables/Timer.swift
Example/Pods/RxSwift/RxSwift/Observables/ToArray.swift
Example/Pods/RxSwift/RxSwift/Observables/Using.swift
Example/Pods/RxSwift/RxSwift/Observables/Window.swift
Example/Pods/RxSwift/RxSwift/Observables/WithLatestFrom.swift
Example/Pods/RxSwift/RxSwift/Observables/Zip+Collection.swift
Example/Pods/RxSwift/RxSwift/Observables/Zip+arity.swift
Example/Pods/RxSwift/RxSwift/Observables/Zip.swift
Example/Pods/RxSwift/RxSwift/ObserverType.swift
Example/Pods/RxSwift/RxSwift/Observers/AnonymousObserver.swift
Example/Pods/RxSwift/RxSwift/Observers/ObserverBase.swift
Example/Pods/RxSwift/RxSwift/Observers/TailRecursiveSink.swift
Example/Pods/RxSwift/README.md
Example/Pods/RxSwift/RxSwift/AnyObserver.swift
Example/Pods/RxSwift/RxSwift/Cancelable.swift
Example/Pods/RxSwift/RxSwift/Concurrency/AsyncLock.swift
Example/Pods/RxSwift/RxSwift/Concurrency/Lock.swift
Example/Pods/RxSwift/RxSwift/Concurrency/LockOwnerType.swift
Example/Pods/RxSwift/RxSwift/Concurrency/SynchronizedDisposeType.swift
Example/Pods/RxSwift/RxSwift/Concurrency/SynchronizedOnType.swift
Example/Pods/RxSwift/RxSwift/Concurrency/SynchronizedUnsubscribeType.swift
Example/Pods/RxSwift/RxSwift/ConnectableObservableType.swift
Example/Pods/RxSwift/RxSwift/Date+Dispatch.swift
Example/Pods/RxSwift/RxSwift/Deprecated.swift
Example/Pods/RxSwift/RxSwift/Disposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/AnonymousDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/BinaryDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/BooleanDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/CompositeDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/Disposables.swift
Example/Pods/RxSwift/RxSwift/Disposables/DisposeBag.swift
Example/Pods/RxSwift/RxSwift/Disposables/DisposeBase.swift
Example/Pods/RxSwift/RxSwift/Disposables/NopDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/RefCountDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/ScheduledDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/SerialDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/SingleAssignmentDisposable.swift
Example/Pods/RxSwift/RxSwift/Disposables/SubscriptionDisposable.swift
Example/Pods/RxSwift/LICENSE.md
Example/Pods/RxSwift/Platform/AtomicInt.swift
Example/Pods/RxSwift/Platform/DataStructures/Bag.swift
Example/Pods/RxSwift/Platform/DataStructures/InfiniteSequence.swift
Example/Pods/RxSwift/Platform/DataStructures/PriorityQueue.swift
Example/Pods/RxSwift/Platform/DataStructures/Queue.swift
Example/Pods/RxSwift/Platform/DispatchQueue+Extensions.swift
Example/Pods/RxSwift/Platform/Platform.Darwin.swift
Example/Pods/RxSwift/Platform/Platform.Linux.swift
Example/Pods/RxSwift/Platform/RecursiveLock.swift